# Backend pipeline
/src/                 @fordanic

# Docker & infra
/docker-compose.yml   @fordanic

# Listener web‑app (team example)
/ui/                  @fordanic

# Catch‑all
*                     @fordanic
